*pyc
Eequi_T0.75_L10_ps5.npy
FIGURE-compare_ES.py
FIGURE-compare_ESvalloss.py
file_manage_delete_old_savestate.py
file_manage_overtime_delete_previous_saves.sh
file_manage_renamer.py
globalMC-dyn.py
gpu_10.sh
gpu_11.sh
gpu_1.sh
gpu_2.sh
gpu_3.sh
gpu_4.sh
gpu_5.sh
gpu_6.sh
gpu_7.sh
gpu_8.sh
gpu_9.sh
histo-logPar.py
h-sub-ARtrain-compass
h-sub-ARtrain-eris
h-sub-calccorr
h-sub-globalMC
h-sub-globalMC-eris
h-sub-localMC
localMC-dyn.py
made.py
measure_M_effective.py
MLP.py
multi_dyn_analysis.sh
multisub-AR-compass.sh
multisub-AR-eris.sh
multisub-calccorr-compass.sh
onedmask_T0.75_L10_ps5.npy
ordering_T0.75_L10_ps5.npy
out
pixelcnn.py
plot-observables.py
__pycache__
resmade.py
sample-from-trained-ARmodel-and-histos.py
sub_all_ar-samples_localMCdyn-compass.sh
sub_all_ar-samples_localMCdyn-eris.sh
submit-DKL-measure-manual-beta2.sh
submit-DKL-measure-manual.sh
submit-DKL-measure.sh
submit-globalMC-compass.sh
submit-globalMC-eris.sh
submit-histo-logPar.sh
submit-plot-observables.sh
submit-sampling-generation.sh
tts_gan.py
visualize.py
nohup*
